---
# style for how not to use a phone
---

$base-font-family: "Open Sans", arial, sans-serif;
$base-font-size: 16px;
$brand-color: #ff2f00;
$background-color:#fcf5f5;
$text-color: #060003;
$grey-color: #5b0d02;
$orange-color:#5b0d02;


@import "minima";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i,900');

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: 400;
}

.site-title {
    font-weight: 700;
}

.post-title {
    font-weight: 300;
}